<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>USERS</title>
</head>
<body>

<h2>Users</h2>
<table border="1">
    <tr>
        <th border="1">id</th>
        <th border="1">name</th>
        <th border="1">surname</th>
        <th border="1">department</th>
        <th border="1">salary</th>
        <th border="1">actions</th>
    </tr>
    <tr th:each="user : ${userList}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.department}"></td>
        <td th:text="${user.salary}"></td>
        <td>
            <a th:href="@{/edit(id=${user.id})}">edit</a>
            <a th:href="@{/delete(id=${user.id})}">delete</a>
        </td>
    </tr>
</table>

<h2>Add</h2>
<a th:href="@{/add}">Add new user</a>

</body>
</html>